/* BackgroundSection.css */
* {
  box-sizing: border-box;
}

.section {
  position: relative;
  height: 100%;
}

.bottom-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.top-section {
  position: relative;
  height: 100vh;
  padding: 50px;
  overflow: hidden;
  /* Add styles for the top section, z-index if needed */
}

.left-rectangle {
  position: absolute;
  top: -100px;
  left: -30%;
  width: 50%;
  height: 150%;
  z-index: -2;
  transform: rotate(-15deg);
  background: #F39237; /* Orange color */
}

.right-rectangle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  background: #000000; /* Black color */
}


